# Virtual environment
venv/
env/
.venv/

# Python temporary files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Local database files
*.sqlite3

# Secret configuration files
.env

# Version control directories
.git/
.gitignore

# System files
.DS_Store
Thumbs.db