# setup services

version: '3.8'

services:
  djangoserver:
    container_name: backend
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  redis:
    container_name: redis
    image: redis:latest

  celery:
    container_name: celery
    build: .
    command: celery -A project worker -l INFO
    restart: always
    depends_on:
      - redis
    volumes: 
      - .:/app